.header {
  background-color: var(--secondary-bg);

  &__container {
    @include flex-between();
    padding-block: 2rem;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;

    @include small() {
      font-size: 3rem;
    }
  }

  &__theme {
    position: relative;

    &--btn {
      @include flex-center();
      gap: 0.5rem;
      padding: 1rem 2rem;
      border-radius: 0.75rem;
      background-color: var(--primary-bg);
      transition: 0.2s;

      &:is(:hover, :focus, :focus-visible) {
        opacity: 0.75;
      }
    }

    &--options {
      position: absolute;
      top: 105%;
      left: 0;
      width: 100%;
      background-color: var(--primary-bg);
      z-index: 10;
      box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.3);
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;

      &.showOptions {
        max-height: 300px;
      }
    }

    &--option {
      padding-block: 0.75rem;
      padding-inline: 15px;
      cursor: pointer;

      &:is(:hover, :focus, :focus-visible) {
        background-color: var(--secondary-bg);
      }
    }
  }
}
