@mixin typography($fs: 1.6rem, $fw: 400, $lh: 1.5) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin small() {
  @media (min-width: 540px) {
    @content;
  }
}

@mixin medium() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin extraLarge() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xxl() {
  @media (min-width: 1440px) {
    @content;
  }
}
